hr {
  height: 1px;
  width: 50%;
  background-color: #FC0853;
  margin-top:57px;
}

a{
  color: white;
}

a:hover{
  color: #FC0853;
}

body{
  background-color: #181818;
}

i{
  color: #FC0853;
  font-size: 30px;
}

.bg-light {
  background-color: transparent !important;
}

#logos{
  z-index: 10;
  position: fixed;
  top:30%;
  left:10px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 0px;
}

.formulario{
  margin-top: 10px;
}

.textoInput{
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: #181818;
}

.form-control:focus {
  color: white;
  background-color: #181818;
  border-color: #FC0853;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #FC0853;
}

.form-control{
  border: 1px solid #FC0853;
  color: white;
}

.texto{
  color: white;
}

#boton{
  background-color: #181818;
  border-color: #FC0853;
  color: white;
  margin-top: 15px;
  width: 90px;
  height: 35px;
  border-radius: 10px;
}

#boton:hover{
  background-color: #FC0853;
}

#boton:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.nav .nav-item.active .nav-link,
.nav .nav-item.active .nav-link:hover,
.nav .nav-item.active .nav-link:focus,
.nav .nav-item.show .nav-link,
.nav .nav-item.show .nav-link:hover,
.nav .nav-item.show .nav-link:focus {
  color: #FC0853;
}

#titulo{
  color: #FC0853;
  margin-top: 20px;
}

#subtitulo{
  color: white;
  margin-top: 30px;
}

#subtitulo1{
  color: white;
  margin-top: -15px;
}