#titulo{
  margin-top: 40px;
  color:#FC0853;
}

.parrafo{
  margin-top: 30px;
  color: white;
}

hr{
  height: 1px;
  width: 50%;
  background-color: #FC0853;
  margin-top: 65px;
}

a{
  color: white;
}

a:hover{
  color: #FC0853;
}

body{
  background-color: #181818;
}

i{
  color: #FC0853;
  font-size: 30px;
}

.bg-light {
  background-color: transparent !important;
} /* no olvidar el important!!!! */

#logos{
  z-index: 10;
  position: fixed;
  top:40%;
  left:10px;
}

.nav .nav-item.active .nav-link,
.nav .nav-item.active .nav-link:hover,
.nav .nav-item.active .nav-link:focus,
.nav .nav-item.show .nav-link,
.nav .nav-item.show .nav-link:hover,
.nav .nav-item.show .nav-link:focus {
  color: #FC0853;
}

.cloudTech{
  color: #FC0853;
  font-size: 1.5rem;
}

.cloudSoft{
  color: rgb(255, 255, 255);
  outline: 0;
}
