.subtitulo{
  color: #FC0853;
}

#name{
  margin-top: 20px;
  color: #FC0853;
  font-weight: bold;
}

.descripcion{
  margin-top: 20px;
  color: white;
}

#imgYo{
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

hr {
  height: 1px;
  width: 50%;
  background-color: #FC0853;
  margin-top: 44px;
}

a{
  color: white;
}

a:hover{
  color: #FC0853;
}

body{
  background-color: #181818 ;
}

i{
  color: #FC0853;
  font-size: 30px;
}

.bg-light {
  background-color: transparent !important;
} /* no olvidar el important!!!! */

#logos{
  z-index: 10;
  position: fixed;
  top:30%;
  left:10px;
}

.nav .nav-item.active .nav-link,
.nav .nav-item.active .nav-link:hover,
.nav .nav-item.active .nav-link:focus,
.nav .nav-item.show .nav-link,
.nav .nav-item.show .nav-link:hover,
.nav .nav-item.show .nav-link:focus {
  color: #FC0853;
}