hr {
  height: 1px;
  width: 50%;
  background-color: black;
  background-color: #FC0853;
  margin-top: 53px;
}

a{
  color: white;
}

a:hover{
  color: #FC0853;
}

body{
  background-color: #181818;
}

i{
  color: #FC0853;
  font-size: 30px;
}

.bg-light {
  background-color: #181818 !important;
} /* no olvidar el important!!!! */

#logos{
  z-index: 10;
  position: fixed;
  top:40%;
  left:10px;
}

#imgCheck{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgTrello{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgPinterest{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgDeliMap{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgVegan{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.btn-primary{
  color: white;
  background-color: #181818;
  border-color: #181818;  
  margin-top: -65px;
  padding: 2px;
}

.btn-primary:hover{
  background-color: #FC0853;
}

.imgProyectos{
  margin-top: 30px;
}

.nav .nav-item.active .nav-link,
.nav .nav-item.active .nav-link:hover,
.nav .nav-item.active .nav-link:focus,
.nav .nav-item.show .nav-link,
.nav .nav-item.show .nav-link:hover,
.nav .nav-item.show .nav-link:focus {
  color: #FC0853;
}

.opacidad {
  transition: .5s ease;
  opacity: 0; 
}

#imgBtn:hover .imgCheck {
  opacity: 0.3;
}

#imgBtn:hover .opacidad {
  opacity: 1;
}

#imgBtn1:hover .imgTrello {
  opacity: 0.3;
}

#imgBtn1:hover .opacidad {
  opacity: 1;
}

#imgBtn2:hover .imgPinterest {
  opacity: 0.3;
}

#imgBtn2:hover .opacidad {
  opacity: 1;
}

#imgBtn3:hover .imgDeliMap {
  opacity: 0.3;
}

#imgBtn3:hover .opacidad {
  opacity: 1;
}

#imgBtn4:hover .imgVegan {
  opacity: 0.3;
}

#imgBtn4:hover .opacidad {
  opacity: 1;
}