hr {
  height: 1px;
  width: 50%;
  background-color: black;
  background-color: #FC0853;
  margin-top: 78px;
}

a{
  color: white;
}

a:hover{
  color: #FC0853;
}

body{
  background-color: #181818;
}

i{
  color: #FC0853;
  font-size: 30px;
}

.bg-light {
  background-color: transparent !important;
} /* no olvidar el important!!!! */

#logos{
  z-index: 10;
  position: fixed;
  top:40%;
  left:10px;
}

#imgCheck{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgTrello{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgPinterest{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgDeliMap{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgVegan{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#imgMarkdown{
  width: 350px;
  height: auto;
  margin-top: 50px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.btn-primary{
  color: white;
  background-color: #181818;
  border-color: #181818;  
  margin-top: -65px;
  padding: 2px;
}

.btn-primary:hover{
  background-color: #FC0853;
  border-color: #FC0853;
}

.btn-primary:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.imgProyectos{
  margin-top: 30px;
}

.nav .nav-item.active .nav-link,
.nav .nav-item.active .nav-link:hover,
.nav .nav-item.active .nav-link:focus,
.nav .nav-item.show .nav-link,
.nav .nav-item.show .nav-link:hover,
.nav .nav-item.show .nav-link:focus {
  color: #FC0853;
}

.opacidad {
  transition: .5s ease;
  opacity: 0; 
}

#imgBtn:hover .imgCheck {
  opacity: 0.3;
}

#imgBtn:hover .opacidad {
  opacity: 1;
}

#imgBtn1:hover .imgTrello {
  opacity: 0.3;
}

#imgBtn1:hover .opacidad {
  opacity: 1;
}

#imgBtn2:hover .imgPinterest {
  opacity: 0.3;
}

#imgBtn2:hover .opacidad {
  opacity: 1;
}

#imgBtn3:hover .imgDeliMap {
  opacity: 0.3;
}

#imgBtn3:hover .opacidad {
  opacity: 1;
}

#imgBtn4:hover .imgVegan {
  opacity: 0.3;
}

#imgBtn4:hover .opacidad {
  opacity: 1;
}

#imgBtn5:hover .imgMarkdown {
  opacity: 0.3;
}

#imgBtn5:hover .opacidad {
  opacity: 1;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FC0853;
  border-color: #FC0853;
}

.parrafo1{
  color: white;
  text-align: justify;
  display: none;
}

.parrafo1:hover .imgCheck{
  opacity: 0.3;
  display: block;
}

.parrafo2{
  color: white;
  text-align: justify;
  display: none;
}

.parrafo2:hover .imgTrello{
  opacity: 0.3;
  display: block;
}


.parrafo3{
  color: white;
  text-align: justify;
  display: none;
}

.parrafo3:hover .imgPinterest{
  opacity: 0.3;
  display: block;
}

.parrafo4{
  color: white;
  text-align: justify;
}

.parrafo4:hover .imgDeliMap{
  opacity: 0.3;
}

.parrafo5{
  color: white;
  text-align: justify;
}

.parrafo5:hover .imgVegan{
  opacity: 0.3;
}

.parrafo6{
  color: white;
  text-align: justify;
}

.parrafo6:hover .imgMarkdown{
  opacity: 0.3;
}


